 * {
    margin: 0;
    overflow: hidden;
    background-color: #1c1c1c;
  }
  
  canvas {
    display: block;
    filter: blur(10px);
  }
  
  .greeting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.6rem;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
  }
  
